<!DOCTYPE html>
<html>
<title>Twitter Data Collector</title>
<style>

</style>
<center>


<h1>Twitter Data Collector</h1>
<h4><a href = "https://github.com/twitter" style = "display:inline-block;">    Repository    </a> <a href = "{{ url_for('apply') }}" style = "display:inline-block;">Apply</h4></a>

<br>
<form action="/twitter" method="POST">

    <input type = "text" class="name" name="namew" placeholder="Twitter Username" />

    <input type="submit" class="button" value="Submit" />

</form>

</center>
</html>